* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000000, #000000);
}

.login-container {
    background: rgb(255, 255, 255);
    padding: 30px;
    width: 400px;
    box-shadow: 10px 15px 25px rgba(93, 28, 108, 0.523);
    
/*    animation: appearance 0.8s ease-out forwards; */
}

@keyframes appearance {
    from {
        opacity: 0;
        filter: blur(10px);
        transform: scale(0.95) translateY(30px);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: scale(1) translateY(0);
    }
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    
/*     animation: appearance 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;*/
    opacity: 1;
}

@keyframes fadeInText {
    to { opacity: 1; }
}

.form-group {
    margin-bottom: 15px;
}